/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/.idea
.idea/vcs.xml
.idea/php.xml
.idea/modules.xml
.idea/misc.xml
.idea/ip-group-project-perfect-mix.iml
