/*-------------
 	General
-------------*/

*{
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
html{
	font: normal 16px sans-serif;
	color: #555;
}
/* Alerts */
/* .alerts{
	width:50%;
	position:absolute;
	top:0;
} */

.custom-nav{
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.8158613787311799) 24%, rgba(255, 248, 248, 0) 100%);
	background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.8158613787311799) 24%, rgba(255, 248, 248, 0) 100%);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.8158613787311799) 24%, rgba(255, 248, 248, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#fff8f8", GradientType=1);
	position: absolute !important;
	margin:0 !important;
	top: 0;
	left:0;
	right:0;
	z-index: 1030;
}
.custom-nav .container{
	border-bottom:3px solid white;
}
.custom-nav .flex-end{
	justify-content: flex-end;
}
.custom-nav .flex-center{
	justify-content: center;
}
.custom-nav .navbar-nav .nav-link{
	text-decoration: none;
	color: white;
	font-size:1.2em;
	padding:2px;
	font-family: 'Montserrat', sans-serif;
}
.custom-nav .navbar-nav .nav-link:hover{
	color:#ccccb3;
}
.custom-nav .dropdown-menu {
	left: auto;
	right: -50%;
	width: 400px;
	max-height: 60vh;
	overflow-y: scroll;
}
/* Cart */
.dropdown-menu .cart-view-header {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	background: white;
}

.dropdown-menu .cart-item {
	border-top: 1px solid black;
	padding: 0.3em 0 0.3em 0;
}

.dropdown-menu .cart-item .name {
	font-weight: bold;
	color: rgb(70, 70, 252);
	font-size: 1.3em;
}
.custom-nav .dropdown-item.active,
.dropdown-item:active{
	background:white !important;
}
.dropdown-menu .cart-item .price {
	position: absolute;
	right: 0;
	bottom: 0;
}
.dropdown-menu .order-btn{
	margin-left:50%;
	transform: translateX(-50%);
	width:50%;
}

#login, #sign-up{
	border:1px solid white;
	border-radius:20px;
	margin-left:10px;
	transition: background 0.5s, color 0.5s;
}
#login:hover,
#sign-up:hover{
	background:white;
	color:black;
	cursor: pointer;
}
/*----------------
 	Hero Section
----------------*/
.hero {
	height: 100%;
	color: #fff;
	text-align: center;
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(/assets/img/img1.jpg) no-repeat center;
	background-size: cover;
}
.hero .hero-title{
	font: normal 28px 'Montserrat', sans-serif;
	font-weight: lighter;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.hero h3 strong{
  font-weight: bold;
  font-size:35px;
}
.hero-footer-image{
	width:100%;
	height:22%;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.hero-footer-image img{
	max-width:100%;
}
/*--------------------
 	Our Work Section
---------------------*/
.our-work .our-work-content{
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.our-work .our-work-image img{
	max-width:100%;
}
/*----------------------
 	Features Section
----------------------*/
.features{
	padding: 5em 0 10em 0;
}
.features .feature img{
	max-width:100%;
	transition: transform 0.25s;
}
.features img:hover{
	transform: scale(1.15);
}
/*----------------------
 	Daily Food Structure Section
----------------------*/
.daily-food-str h3.title img{
	max-width:60%;
}
.daily-food-str img.type{
	max-width:100%;
	border:20px solid #e6ffff;
	border-radius:100%;
	transition: border 0.5s ease;
}
.daily-food-str img.type:hover{
	border: 20px solid #7bf7fc;
}
.ar-lb{
	position:absolute;
	bottom:0;
	right:0;
}
.ar-rb {
	position: absolute;
	bottom: 0;
	left: 0;
}
.daily-food-str .name{
	border:none;
	font-size:1.5em;
	font-weight:bold;
	background:none;
}
/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}





/*-------------
 	Footer
-------------*/
footer{
	background: #1F1F1F;
	padding-top:5em;
}
.footer-top-image {
	width: 100%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.footer-top-image img {
	max-width: 100%;
}
footer .contact ul li{
	display:block;
	color:white;
	padding:0.5em;
	margin-left:50%;
	transform: translateX(-45%);
}
footer img{
	max-width:50%;
}
footer img.left{
	position: absolute;
	left:0;
	bottom:0;
}
footer img.right {
	position: absolute;
	right: 0;
	bottom: 0;
}
@media only screen and (max-width:800px){
	footer img.left,
	footer img.right{
		display:none;
	}
}
/* Login Window */
.login-modal .modal-content{
	height:33rem;
	padding: 0 1em 1em 1em;
}
.login-modal form{
	width:50%;
	text-align:center;
	margin-left:7%;
	margin-top:20%;
}
.login-modal .modal-content .form-group{
	width:100%;
	transition: width 0.5s;
}
.login-modal form button[type='submit']{
	padding:0.2em 1.5em;
	border-radius: 20px;
}
.login-modal form button[type='submit']:hover{
	box-shadow:1px 5px 8px black;
}
.login-modal .modal-body{
	z-index:10;
}
.login-modal .close{
	z-index:10;
}
.login-modal .modal-content img{
	max-width:70%;
	position:absolute;
	bottom:-11px;
	right:-13px;
	padding:0;
	z-index: 0;
}
/* Registration modal */
.reg-modal .modal-content {
	padding: 0 2em 2em 2em;
}
.reg-modal button[type="submit"]{
	margin-left:50%;
	transform: translateX(-50%);
	background: #ccffff;
	color: #004d4d;
	border:none;
	font-weight:bold;
	width:40%;
	transition: background 0.5s, color 0.5s;
}
.reg-modal button[type="submit"]:hover {
	background:#3385ff;
	color:white;
}
.reg-modal form {
	width: 75%;
	text-align: center;
	margin-left:50%;
	transform:translateX(-50%);
}

/* MENU PAGE */
.menu-header{
	height: 100%;
	color: #fff;
	text-align: center;
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(/assets/img/img1.jpg) no-repeat center;
	background-size: cover;
}
.menu-header .title{
	font: normal 3em 'Montserrat',
	sans-serif;
	font-weight: lighter;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.section-cuisine .cuisine{
	border:1px solid black;
	border-radius:20px;
	padding:5em;
	position:relative;
}
.section-cuisine .cuisine .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 9%, rgba(255,255,255,0) 96%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 9%, rgba(255,255,255,0) 96%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 9%, rgba(255,255,255,0) 96%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
	border-radius:20px;
	opacity:0;
	transition: opacity 700ms;
}
.section-cuisine .cuisine .overlay span{
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	position: absolute;
	bottom: 20%;
	left:50%;
	transform: translateX(-50%);
	font-family: 'Rye', cursive;}
.cuisine-uzb{
	background: url(/assets/img/flags/uzbekistan-flag.jpg) no-repeat center;
	background-size: cover;
}
.cuisine-eu {
	background: url(/assets/img/flags/eu-flag.jpg) no-repeat center;
	background-size: cover;
}
.cuisine-china {
	background: url(/assets/img/flags/china-flag.jpg) no-repeat center;
	background-size: cover;
}
.cuisine-italy {
	background: url(/assets/img/flags/italy-flag.jpg) no-repeat center;
	background-size: cover;
}
.food-types .item {
	border: 1px solid black;
	border-radius: 50px;
	padding: 4em;
	max-width:70%;
	margin:auto;
	position: relative;
}
.food-types .item span{
	position:absolute;
	top:100%;
	left:50%;
	transform:translateX(-50%);
	font-weight:bold;
}
.food-types .traditional{
	background: url(/assets/icons/traditional-food.png) no-repeat center;
	background-color: white;
}
.food-types .salad {
	background: url(/assets/icons/salad.png) no-repeat center;
	background-color: white;
}
.food-types .fish {
	background: url(/assets/icons/fish.png) no-repeat center;
	background-color: white;
}
.food-types .soup {
	background: url(/assets/icons/hot-soup.png) no-repeat center;
	background-color: white;
}
.foods{
	margin: 7em 0 7em 0;
}
.foods .item{
	margin-bottom: 12em;
	height:70%;
}
.foods .title{
	margin-bottom:3em;
}
.foods .card{
	height:100%;
	border:none;
	border-radius:50px;
	background:#e6f2ff;
	box-shadow: 0 4px 10px #d0dcdf;
	position:relative;
}
.foods .card .card-img-top{
	margin:auto;
	border-radius:100% !important;
	max-width:70%;
	height: 230px;
	position:relative;
	bottom: 60px;
	box-shadow: 0 4px 10px #bdcccf;
}
.foods .card .card-body{
	margin-top: -90px;
	padding:2em !important;
}
.foods .card .order-btn{
	background:#cadcf0;
	width:60%;
	padding:0.5em;
	text-transform: uppercase;
	font-weight:bold;
	font-family: 'Arial', sans-serif;
	letter-spacing:2px;
	font-size:1.2em;
	color:#0047b3;
	border-radius: 0 0 30px 30px;
	position:absolute;
	top:100%;
	left:50%;
	transform:translateX(-50%);
	box-shadow: 0 4px 10px #d0dcdf;
}
.foods .card .quantity{
	width:70%;
	background: transparent;
	border:3px solid #e0e0d1;
	border-radius: 20px;
	text-align:center;
	font-size: 1.2em;
	font-weight:bold;
	outline:none;
}
.foods .card .card-title{
	font-weight:bold;
	margin:0 !important;
}
.foods .card p.content{
	font-size:0.8em;
	font-weight:bold;
	color:#8a8a5c;
}
.foods .card p.price{
	font-weight:bold;
	font-size:1.3em;
}

/* ORDER PAGE */
.order-header{
	height: 50%;
	color: #fff;
	text-align: center;
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(/assets/img/food-order-bg.jpg) no-repeat center;
	background-size: cover;
}
.order-header .title {
	font-weight: lighter;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.order-header .title h3{
	font: normal 3em 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.order-content{
	margin: 3em 0 3em 0 !important;	
}
.order-list .item{
	margin-bottom:2.5em !important;
}
.order-list .item img{
	height:90px;
	width:90px;
	position:absolute;
	right:0;
	transform: translateY(-20%);
}
.order-list .item .item-content{
	border-bottom:1px solid rgb(214, 213, 213);
	border-top:1px solid rgb(214, 213, 213);
	padding:0.8em;
}
.order-list .item button{
	font-size:1em;
	color:black;
	font-weight:bold;
	border:none;
	transition: background 0.5s, color 0.5s;
}
.order-list .item .quantity-form{
	padding:0;
}
.order-list .item .form-group{
	margin:0 !important;
	width:100% !important;
	height:100% !important;
}
.order-list .item .form-group .form-control{
	background: #e6f0ff;
	font-size: 1.3em;
	font-weight:bold;
	color: #002966;
}
.order-list .item .btn-danger{
	background:#ff9999;
}
.order-list .item .btn-danger:hover{
	background:#ff0000;
	color:white;
}
.order-list .item .btn-info{
	background:#66a3ff;
}
.order-list .item .btn-info:hover{
	background:#0026ff;
	color:white;
}
.order-details .card{
	padding:1em 0 1em 0;
}
.order-details .card .card-img-top{
	width:60% !important;
	margin: auto;
}
.order-details .card .order-btn{
	width:50%;
	background:#ffb039;
	color:black;
	text-transform: uppercase;
	font-size:1.5em;
	font-weight:bold;
	margin-left: 50%;
	transform:translateX(-50%);
	padding: 0.3em 0 0.3em 0;
	transition:background 500ms;
}
.order-details .card .order-btn:hover{
	background:#ff9c08;
}

/* USER DASHBOARD */
.dashboard-header {
	height: 50%;
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(/assets/img/food-order-bg.jpg) no-repeat center;
	background-size: cover;
}

.dashboard-header .title {
	font-weight: lighter;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dashboard-header .title h3 {
	font: normal 2em 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.user-info{
	margin: 3em 0 3em 0;
}
.user-info .avatar{
	color:rgb(165, 165, 165);
}
.user-info .info-content .name{
	text-transform: uppercase;
	color:#0047b3;
	font-weight: bold;
	border-bottom:3px dashed rgb(226, 216, 216);
}
.user-info .info-content .row{
	height:100%;
}
.user-info .info-content .row div:last-child{
	border:1px solid rgb(226, 216, 216);
	width:100%;
}
.user-info .status-container .btn-edit-profile{
	text-transform: uppercase;
	font-weight:bold;
	color:#003d99;
	font-size:0.9em;
	background:rgb(236, 250, 255);
	max-width:50%;
	margin: auto;
	transition:background 500ms;
}
.user-info .status-container .btn-edit-profile:hover{
	background:rgb(207, 242, 255);
}
.user-info .status-container .vaucher{
	max-width:80%;
	margin:auto;
	border-radius:15px;
	padding: 1em 0.5em 1em 0.5em;
}
.user-info .status-container .vaucher .type{
	font-weight:bold;
	color:red;
}
.user-info .status-container .vaucher .value{
	color:blue !important;
	font-weight:bold;
	font-style: italic;
}
.statistics{
	margin-bottom: 2em;
}
.statistics .item{
	border-radius: 5px;
	padding: 0.5em 1em 0.5em 1.5em;
	font-weight:bold;
	color:white;
	position:relative;
}
.statistics .item .custom-i{
	position: absolute;
	right:10%;
	top:50%;
	transform: translateY(-50%);
}
.statistics .item .title{
	font-weight: normal;
}
#total-orders {
	background: rgb(15, 64, 255);
	background: -moz-linear-gradient(214deg, rgba(15, 64, 255, 1) 41%, rgba(108, 114, 255, 1) 100%);
	background: -webkit-linear-gradient(214deg, rgba(15, 64, 255, 1) 41%, rgba(108, 114, 255, 1) 100%);
	background: linear-gradient(214deg, rgba(15, 64, 255, 1) 41%, rgba(108, 114, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f40ff", endColorstr="#6c72ff", GradientType=1);
}
#total-expenses {
	background: rgb(255, 15, 222);
	background: -moz-linear-gradient(214deg, rgba(255, 15, 222, 1) 41%, rgba(255, 108, 240, 1) 100%);
	background: -webkit-linear-gradient(214deg, rgba(255, 15, 222, 1) 41%, rgba(255, 108, 240, 1) 100%);
	background: linear-gradient(214deg, rgba(255, 15, 222, 1) 41%, rgba(255, 108, 240, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0fde", endColorstr="#ff6cf0", GradientType=1);
}
.history{
	margin-bottom:5em;
}
.history .item{
	margin-bottom:1em !important;
	background: #e6f9ff;
	border-radius: 10px;
}
.history .item img{
	width:100%;
	height:100%;
}
.history .item .right{
	border-left:1px solid black;
}
.history .item .item-content{
	padding-top:0.5em;
	padding-right:5em;
}
.history .item .item-content span{
	position:absolute;
	right:5%;
	bottom:10%;
}